.NumberLabel {
    margin-left: 3px;
    padding-bottom: 18px;
    padding-top: 18px;
    font-size: large;
}

.RankLabel{
    font-size: large;
    padding-left: 25.5px;
    padding-right: 25.5px;
}

.validMove {
    border: 3.5px solid yellow;
    float: left;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 8px;
    padding-top: 21px;
    width: 65px;
}

.blankTile{
   border: 1px solid #999;
    float: left;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 8px;
    padding-top: 21px;
    width: 65px;
}

.Attack {
    border: 3.5px solid red;
    float: left;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 8px;
    width: 65px;
}

.Checked {
    border: 3.5px solid red;
    float: left;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 8px;
    width: 65px;
}

.Piece {
    border: 1px solid #999;
    float: left;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 8px;
    width: 65px;
}

.boardrow:after {
    clear: both;
    content: '';
}

.PromotionTile {
    background: transparent;
    border: 1px solid #999;
    float: left;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 6px;
    width: 65px;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 60%;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #bdbdbd;
}
.fixed {
    height: 1200px;
    top: 0;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #FFFFFF;
}

